[Unit]
Description=KDE Connect daemon

[Service]
ExecStart=/run/current-system/sw/bin/kdeconnectd --replace
Restart=on-failure

[Install]
WantedBy=default.target
